{%- if include.keys -%}
  {%- assign keys = include.keys -%}
{%- endif -%}

{%- if include.field -%}
  {%- assign field = include.field -%}
{%- endif -%}

<div class="common-list">
  <ul>
    <li>
      <div style="display: flex;">
      <span class="list-toggle expand"><i class="fa fa-angle-right"></i></span>
      <a href="{{ '/index.html' | relative_url }}">
         All<span class="list-counter">{{ site.posts.size }}</span>
      </a></div>
    </li>

    {% for key in  keys %}
      <li>
        <button class="button {{ type }}" id="{{- key | remove: ' ' -}}" data-label="{{ key }}">{{ key }} <span class="list-counter"><var class="{{- type -}}-cnt" id="{{- key | remove:' ' -}}_cnt">{{ site.posts | where: field, key | size }}</var>/{{ site.posts | where: field, key | size }}</span></button>
      </li>
    {% endfor %}
  </ul>
</div>

