{%- if include.keys -%}
  {%- assign keys = include.keys -%}
{%- endif -%}

{% assign type = 'tag' %}
{% assign field = 'tags' %}

<div class="common-list">
    <ul>
      <li>
        <div style="display: flex;">
        <span class="list-toggle expand"><i class="fa fa-angle-right"></i></span>
        <a href="{{ '/index.html' | relative_url }}">
           All<span class="list-counter">{{ site.posts.size }}</span>
        </a></div>
      </li>
 
      {% for entry in site.data.taxonomy %}
      <li> <button class="button slim">{{ entry.label }}</button>
          {% if entry.children %}
          <ul class="ul-tag">
              {% for subcategory in entry.children %}
              {% assign key = subcategory.label %}
              <li><button class="button {{ type }} slim" id="{{- key | remove: ' ' -}}" data-label="{{ key }}">{{ key }} <span class="list-counter"><var class="{{- type -}}-cnt" id="{{- key | remove:' ' -}}_cnt">{{ site.posts | where: field, key | size }}</var>/{{ site.posts | where: field, key | size }}</span></button>
                  {% if subcategory.children %}
                  <ul class="ul-tag">
                      {% for subsubcategory in subcategory.children %}
                      {% assign key = subsubcategory.label %}
                      <li><button class="button {{ type }} slim" id="{{- key | remove: ' ' -}}" data-label="{{ key }}">{{ key }} <span class="list-counter"><var class="{{- type -}}-cnt" id="{{- key | remove:' ' -}}_cnt">{{ site.posts | where: field, key | size }}</var>/{{ site.posts | where: field, key | size }}</span></button></li> 
                      {% endfor %}
                  </ul>
                  {% endif %}
              </li> 
              {% endfor %}
          </ul>
          {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>